__pycache__/
*.py[cod]
*.egg-info/
.coverage
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/

data/raw/*
data/interim/*
data/processed/*
artifacts/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!artifacts/.gitkeep
